body {
    background-color: rgb(75, 75, 134);
}

.login-container {
    margin-top: 5rem !important;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    width: 100%; /* Ensure input groups take full width */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
    width: 100%;
    padding: 10px 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding doesn't increase the width of the input */
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 14px;
}

.Main-Group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.country-code-group {
    flex: 1;
}

.mobile-number-group {
    flex: 2;
}
